*{
    margin: 0;
    padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background: white;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #181818;
  padding: 10px;
  color: white;
}

.logo {
  font-size: 10px;
  font-weight: bold;
}

.items {
  display: flex;
  list-style: none;
  gap: 15px;
  font-weight: bold;
  align-items: start;
  justify-content: start;
}

.topicons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px ;
}

.products{
  background-color: white;
}
.main{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex-wrap: wrap; 
}

.main0{
    width: 150px;
    height: 150px;
     border: 2px solid #d93737;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} 
 
.main1{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #a80000;
    border: 3px solid #fff;
    color:white;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 10px;
}
  
img{
   max-width: 100%;
  height: auto;
  gap: 5pxs;

}
.product{
  padding: 40px;
}
.shoeshead{
  justify-content: space-between;
}
.shoestag{
    height: 80%;
    width: 300px;
    object-fit: contain;
}
.shoess{
    display: flex;
    gap: 5px;
    background-color: white;
    overflow-x: scroll ;
}
.shoes{
  flex-shrink: 0;
      flex-grow: 1;
      flex-basis:300px;  
      width:400px;
      border: 5px ;
      padding: 5px;
      align-items:flex-start;
      gap: 5px;
      margin-top: 50px;
      color: #f2ecec;
      
}
.content{
  color: rgb(40, 31, 31);
  justify-content: center;
}
.drop{
  color: #111;
  background-color: white;
  text-align: center;
  padding:5px ;
  border: 5px;
  margin-top: 50px ;
  justify-content: space-between;
  
}
.drop1{
background-color: white;
text-align: center;
}
.Palermo{
  margin-top: 80px;
}
.Sports{
  display: flex;
    gap: 10px;
    padding: 15px;
    background-color: white;
    overflow-x: auto ;
    margin-top: 10px;
}
.Sport{
  text-align:start;
  margin-top: 80px;
  padding:10px ;
}


footer{
  background-color: #111;
  padding: 40px 20px;
  color:white;
}

.footer1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer2{
  flex: 1 1 200px;
  margin: 10px;
}

.footer2-0{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer2-1 {
  list-style: none;
  padding: 0;
}
.footer-icon{
  display: flex;
  gap: 5px;
  width: 500px;
}
.footer-icon2
{
  text-align:start;
  margin-top: 60px;
}
.footer-icon1{
  display: flex;
  justify-items: end;
  gap: 50px;
  padding: 10px;

}
.footer-img{
  border: solid rgb(175, 174, 174);
  border-radius:7px;
}
